/*SECTION HEIGHTS*/

body,html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Cabin';
  scroll-behavior: smooth;
  /*overflow-x: hidden;*/
}







.collapsible {
  position: absolute;
  background-color: none;
  border-bottom: 3px solid #F2BD1D;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #F2BD1D;
  cursor: pointer;
  padding: 18px;
  width: 30%;
  /*border: none;*/
  text-align: center;
  outline: none;
  margin-left: 70%;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: -70px;
}

/*.active, .collapsible:hover {
  background-color: #ccc;
}
*/
.content {
  padding: 0 18px;
  display: none;
  width: 30%;
  overflow: hidden;
  color: black;
  margin-left: 70%;
  padding-left: 20px;
  margin-top: 20px;
  background-color: #F2BD1D;
 /* max-height: 0;
  transition: max-height 0.2s ease-out;*/
}

.response{
  position: absolute;
  width: 185px;
  height: 86px;
  border: 3px solid #0339A6;
 /* border-right: none;
  border-left: none;
  border-top: 5px solid #0339A6;
  border-bottom: 5px solid #0339A6;*/
  box-sizing: border-box;
  font-weight: bold;
  font-size: 42px;
  color: #0339A6;
  margin-top: 300px;
}

:active .response:hover {
  background-color: #0339A6;
  color: white;
}


.no{
  margin-left: 35%;
}

.help{
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: 145px;
  margin-left: 55%;
  border-radius: 30px;
  background-color: #F2BD1D;
  text-align: center;
  color: black;
  font-size: 20px;
  padding-top: 5px;
}


/* Containers */
/*html, body {
  min-height: 100%;
}*/


.rb-box {
  width: 80%;
  max-width: 420px;
  margin: 50px auto;
  padding: 1.3em;
  background-color: #292942;
  border-radius: .75em;
}

/* Custom Radio Button */
p {
  font-size: .9em;
}

.rb {
  padding: 16px 0;
  text-align: center;
  border-radius: .3em;
  margin-top: 300px;
  margin-left: -17%;
}

.rb-tab {
  display: inline-block;
  position: relative;
  width: 20%;
}

.rb-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

.rb-spot {
  position: absolute;
  width:120px;
  height: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: 5px solid black;
  border-radius: 100%;
  cursor: pointer;
  transition: ease .5s;

}

.rb-tab-active .rb-spot {
  background: rgba(3,57,166,.2);
  border: 5px solid #0339A6;
  color: #F2BD1D;
}

/* Submit Button */
.button-box {
  padding: 10px 0;
  text-align: center;
}

button {
  display: inline-block;
  width: 80%;
  margin-top: 1.2em;
  padding: 1em;
  max-width: 220px;
  font-size: .9em;
  color: #D42D78;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .15em;
  background: white;
  border: none;
  outline: none;
  border-radius: 5em;
  box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
  transition: 
    color 0.6s, 
    box-shadow 0.3s, 
    transform 0.3s;
  cursor: pointer;
}
a{
  text-decoration: none;
}

.bullet-item-link p{
  text-decoration: none;
  position: absolute;
  margin-left: 20px;
  margin-top: 5px;
  text-transform: uppercase;

}
.guiding-q{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  position: absolute;
  position: fixed;
  top: 25%;
  margin-left: 80%;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-top: 12px;
  color: white;
  background-color: #0339A6;
  /*border: 3px solid #F2BD1D;*/
  transition-duration: .5s;
  font-size: 15px;
  animation: float 800ms ease-in-out infinite;
}

@keyframes float {
  0% {
    /*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
    transform: translatey(0px);
  }
  50% {
    /*box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);*/
    transform: translatey(-5px);
  }
  100% {
    /*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
    transform: translatey(0px);
  }
}


.guiding-q :active{
  color: #F2BD1D;
}

.back{
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 25px solid #cdcdcd;
  border-bottom: 20px solid transparent;
  position: fixed;
 /* width: 130px;
  height: 130px;
  border-radius: 50%;
  position: fixed;
  background-color: #181818;*/
  top: 24%;
  left: 3%;
}

.back :hover{
    border-right: 25px solid black;
}

h11{
  font-size: 130px;
  top: 80px;
  position: absolute;
  font-weight: bold;
}



.background1{
  width: 100%;
  position: absolute;
  height: 50vh;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-color: black;*/
  /*background-image: url(img/pattern2.png);*/
  /*transform: translateY(30px);*/
  /*background-color: black;*/
  /*border-top: 10px solid #F2BD1D;*/
  /*border-top: 5px solid #0339A6;*/
}

.background2{
  width: 100%;
  position: absolute;
  height: 100vh;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  /*border-top: 10px solid black;*/
}

h10{
  position: absolute;
  color: black;
}

.scrollprev{
  width: 50px;
  height: 50px;
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  /*padding-top: -50px;*/
  right: 20%;
  top: 170px;
  font-size: 30px;
  background-color: transparent;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  transition-duration: .5s;
   overflow: hidden;
   color: black;
}
.scrollprev p{
  margin-top: 10px;
}

.scrollnext{
  width: 50px;
  height: 50px;
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  right: 20%;
  top: 220px;
  color: black;
  font-size: 30px;
  background-color: transparent;
  border: 3px solid black;
  transition-duration: .5s;
   overflow: hidden;
}


.scrollnext p{
  margin-top: 10px;
}

.right-arrow{
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-left: 25px solid #cdcdcd;
      border-bottom: 20px solid transparent;
      position: absolute;
      right: 5%;
      top: 65%;
}
