body,html {
	width: 100%;
	height: 100%;
	margin: 0;
  font-family: 'Cabin', sans-serif;
  /*background-color: white;*/
  /*scroll-behavior: smooth;*/
  /*scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;*/
}

/*Hide scrollbar*/
/*body::-webkit-scrollbar {
    display: none;
}*/

body{
    /*-ms-overflow-style: none;*/
}

* {
    box-sizing: border-box;
}

/*GRID*/
    
.item1 { grid-area: header; }
    .item2 { grid-area: left; }
    .item3 { grid-area: main; }
    .item4 { grid-area: right; }
    .item5 { grid-area: footer; }

    .grid-container {
      position: absolute;
      width: 100%;
      height: 100vh;
      display: grid;
      grid-template-areas:


        'left header header header header header header header header right'
        'left main main main main main main main main right'
        'left main main main main main main main main right'
        'left main main main main main main main main right'
        'left main main main main main main main main right'
        'left main main main main main main main main right'
        'left main main main main main main main main right'
        'left main main main main main main main main right'
        'left main main main main main main main main right'
        'left main main main main main main main main right'
        'left main main main main main main main main right'
        'left main main main main main main main main right'
        'left main main main main main main main main right'
        'left footer footer footer footer footer footer footer footer right';
    }

    .grid-container > div {
      /*border: 1px solid white;*/
      text-align: left;
      padding: 20px 0;
    }


.rectangle{
  width: 100px;
  height: 15px;
  margin-top: 20px;
  position: absolute;
  background-color: #F2BD1D;
}

.rectangle2{
  width: 100px;
  height: 15px;
  /*margin-top: 95px;*/
  position: absolute;
  background-color: #F2BD1D;
}

/*.rectangle3{
  width: 580px;
  height: 15px;
  margin-top: 20px;
  position: absolute;
  left: -50%;
  background-color: #F2BD1D;
}*/


/*wiggle line*/

    .holder {
        position: relative;
        width: 150px;
        height: 50px;
        margin-top: 0;
        margin-left: -10px;
    }

    .holder2 {
        position: relative;
        width: 150px;
        height: 50px;
        margin-top: -20px;
        margin-left: -10px;
    }

    .clip {
        overflow: hidden;
    }

    .ellipse {
        position: absolute;
        background: radial-gradient(ellipse, transparent, transparent 7px, #0339A6 7px, #0339A6 10px, transparent 11px);
        background-size: 36px 40px;
        width: 400px;
        height: 20px;
    }

    .ellipse2 {
        top: 20px;
        left: 18px;
        background-position: 0px -20px;
    }

/**/

/*HAMBURGER*/

#menuToggle
{
  display: block;
  position: fixed;
  top: 50px;
  right: 13%;
  z-index: 3;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
  text-transform: uppercase;
  font-weight: bold;
}

#menuToggle a:hover
{
  color: #F2BD1D;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  margin-left: 1%;
  position: fixed;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-1px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(3px, -1px);
}


#menu
{
  position: fixed;
  width: 200px;
  margin: -80px 0 0 -2.5%;
  padding: 50px;
  padding-top: 125px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased; 
  transform-origin: 0% 0%;
  transform: translate(1000px, 0);
  /*background-color: rgba(255,255,255,.5);*/
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 20px;
  text-align: left;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.header {
  position: fixed;
  top: 0;
  /*left: 96%;*/
  z-index: 3;
  border-radius: 22px;
  /*background-color: #f1f1f1;*/
  stroke: 1px solid  #181818;
  right: 0;
}

.progress-container {
  width: 8px;
  height: 100vh;
  /*background: #ccc;*/
  /*border-radius: 22px;*/
  stroke: 1px solid black;
}

.progress-bar {
  height: 8px;

  /*background: #F8CE46;*/
  background: #F2BD1D;
  /*border-radius: 22px;*/
  width: 8px;
}

.content2{
  width: 35%;
  height: 550px;
  /*border: 1px solid white;*/
  position: absolute;
  margin-top: 100px;
  display: inline-block;
  position: absolute;
}

.content3{
  width: 30%;
  height: 550px;
  /*border: 1px solid white;*/
  position: absolute;
  /*margin-top: 00px;*/
  margin-left: 45%;
  /*display: inline-block;*/
  position: absolute;
}

.small-container{
  position:absolute; 
}

h5 {
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    /*padding-top: 130px;*/
    margin-top: 0;
}

h10{
  /*font-weight: bold;*/
  font-size: 20px;
  width: 250px;
  color: #0339A6;
  /*text-transform: uppercase;*/
}

.content3 p{
  font-size: 17px;
  line-height: 25px;
}

#arrow{
  position: absolute;
  width: 50px;
  height: 28px;
  margin-left: 28%; 
  top: 90%;
  cursor: pointer;
  animation: float 800ms ease-in-out infinite;
}


@keyframes float {
  0% {
    /*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
    transform: translatey(0px);
  }
  50% {
    /*box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);*/
    transform: translatey(-15px);
  }
  100% {
    /*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
    transform: translatey(0px);
  }
}
  
.trggreen{
  position: absolute;
  width: 0;
  height: 0;
  margin-top: -15px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 25px solid #0339A6;
}

.button :before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0339A6;
  z-index: -1;
  transform: translateX(-100%);
   transition: .5s;
}

.button :hover:before {
  transform: translateX(0);
  transition: .5s;
}

.button :hover {
  color: white;
  transition: .7s;
}

.button2 :before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #0339A6;
      z-index: -1;
      transform: translateX(-100%);
      transition: .5s;
    }

    .button2 :hover:before {
      transform: translateY(0);
      transition: .5s;
    }

    .button2 :hover {
      color: white;
      transition: .7s;
    }




.back{
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 25px solid #cdcdcd;
  border-bottom: 20px solid transparent;
  position: fixed;
  top: 19%;
  left: 3%;
}


a{
  transition-duration: .5s;
}
a:hover{
  color: #F2BD1D;
}


.small-container ul{
  list-style-type: circle;
  margin-top: 0px;
  width: 70%;
  padding-left: 4%;
}

.small-container ul li{
  font-size: 17px;
  line-height: 20px;
  padding-top: 25px;
  list-style-type: circle;
  text-transform: none;
}

sup{
  font-size: 50%; 
  line-height: 0px;  
  vertical-align: super;
}

sup a{
  color: #0339A6;
  transition: .5s;
  font-weight: bold;
}

sup a: hover{
  color: #F2BD1D;
}

.content3 li{
  text-transform: none;
  font-size: 15px;
  font-weight: normal;
}
